{% load i18n sekizai_tags %}
{% load url from future %}

<form id="{{form_id}}" class='contactform' action="{% url 'contactform:contactform' %}" method="post">{% csrf_token %}
<div class="error">{% include "cmsplugin_contactform/failed_message.html" %}</div>
<div class="success">{% include "cmsplugin_contactform/successful_message.html" %}</div>
<label class="name">
    <input type="text" name='name' placeholder="{% trans "Name:" %}">
    <span class="error"></span>
</label>
<label class="email">
    <input type="text" name='email' placeholder="{% trans "E-mail:" %}">
    <span class="error"></span>
</label>
<label class="subject">
    <input type="text" name='subject' placeholder="{% trans "Subject:" %}">
    <span class="error"></span>
</label>
<label class="message">
    <textarea name='message' placeholder="Üzenet:"></textarea>
    <span class="error"></span>
</label>
<div class="btns"><button type="submit" style="background-color: rgb(124, 99, 84);" class="button">{%trans "Send" %}</button></div>
</form>

<script src="{{STATIC_URL}}js/contactform.js"></script>
<script>
contactForm("{{form_id}}");
</script>